{% extends "_base.html" %}

{% block title %}
 Archive
{% endblock %}

{% block content %}
    <h1>Archive</h1>

    <!--{% if site.tags|count > 0 %}
    <p id="tags"><strong>Tags:</strong>
        {% for tag in site.tags %}
            <a href="{{ site.tags[tag] }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </p>
    {% endif %}-->

    <ul id="archive">
    {% for item in site.sorted %}
        <li>
            <span class="title"><a href="{{ item.url }}">{{ item.meta['title'] }}</a></span>
            <span class="meta">{{ item.meta['date'].month }}-{{ item.meta['date'].day }}-{{ item.meta['date'].year }}</span>
            <!--<span class="preview">{{ item.content|more }}</span>-->
        </li>
    {% endfor %}
    </ul>
{% endblock %}
