<!DOCTYPE html>

<html>
	<head>
		<title>Screaming at my screen!</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
		<link rel="stylesheet" href="./css/main.css" />
	</head>
	
	<body>

		<div id="sidebar">


			<p id="name">screaming at my screen</p>

			<div id="me">

				<div id="picture"></div>

				<div id="about"><p id="who"><strong>Timo Zimmermann</strong></p>
					<p>I am a web and iOS developer running my own business, doing some freelance work, practicing
						martial arts and enjoying video games. I believe I have seen the whole internet once, maybe twice.</p>
				</div>
				<!--about-->

			</div>
			<!--me-->

			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Archive</a></li>
			</ul>

		</div>
		<!--sidebar-->

		<div id="main">

			<div id="wrapper">

			<p class="meta">posted on: 11 / 6 / 2012 in <a href="#">Django</a>, <a href="#">Project</a></p>
			<h1>Django Beginner Series - Introduction</h1>
    
    <p class="intro">Some Twitter followers could already know that I am working on a book. Just not what it is about. Big announcement: It will be about web application development using Django. It is supposed to be an easy entry in the world of Django and tries to cover as much as possible in a simple way to get started with the framework.
<!--MORE--></p>

<p>If you do not care why I am doing this skip to "ideas and how this blog is involved" to get an idea what tutorials I will post in the course of the next weeks.</p>

<p>Django is the best documented project I know. You can find nearly anything in the documentation and if you are not comfortable browsing it you can just read the code with comments. But there is something Django lacks. I know that not everyone agrees with me on this. But I also know how many people asked me basic things they could not figure out just from reading the tutorial. Django needs some basic introduction material.</p>

<p>I do not think it would be wise to rewrite the whole documentation. If I want to know something about a model field, how a battery works or just see if there is something I am missing about a problem the documentation is great. But it does not walk you through the process of creating a basic application that actually works. At least not good enough as it looks to me.</p>

<p>I am aware that there are great resources and that there is even a "community driven book". But this brings me to another point. There are nearly no books written in German about Django. I think I have seen one. Sometimes it only has a little paragraph, maybe a chapter in a book about Python but nothing serious. Other books, written in English, are just so outdated it hurts.</p>

<p>I enjoy working with Django and my company realizes projects based on it on a regular basis. I would love to see more people using Django and I think this could be a way to give something back to the project. A little thank you, spreading the word and showing the great possibilities and reasons why more people should consider using Django.</p>

<h2>Ideas And How This Blog Is Involved</h2>

<p>I know that I am not in the position to provide a solid English translation of the book directly after it is finished. Not without some help. And I am also not sure when I will find the time to translate it. So I had another idea.</p>

<p>In the book I will use examples that are supposed to help my readers with real world problems. We will build</p>

<ul>
<li>a basic content management system</li>
<li>some kind of wiki</li>
<li>a tumblelog</li>
<li>something that will remind you of Twitter</li>
</ul>

<p>Beside the basic idea how to start such projects I can introduce management commands, migrations, templating, user accounts and profiles, project layout and structure and other stuff without boring everyone to death.</p>

<p>To reach more people I will link the examples in this blog and add tutorials how everything is put together.</p>

<p>The four "big projects" are currently only ideas. I am still looking for some input what I should include and what I should leave out of the tutorials. The goal is pretty simple: "Introduce enough features so everyone has a basic understanding how Django works and hopefully will be able to realize any project with the help of the documentation". I refuse to copy big parts of the docs, this would make the whole project pointless.</p>

<p>If you have any ideas, wishes or comments send me a <a href="mailto:timo@screamingatmyscreen.com">mail</a>, comment on <a href="http://news.ycombinator.com/item?id=4749368">Hacker News</a> or send me a <a href="http://www.twitter.com/fallenhitokiri">tweet</a>.</p>
			</div>
			<!--wrapper-->

		</div>
		<!--main-->

	</body>
</html>
