{% extends "_base.html" %}

{% block content %}

    {% for cur in site.sorted %}

        {% if loop.index <= 5 %}

        <div class="post">
                <p class="meta">posted on {{ cur.meta['date'].year }} - {{ cur.meta['date'].month }} - {{ cur.meta['date'].day }} {% if obj.meta['tags'] %}in {% for tag in obj.meta['tags'] %}<a href="{{ tag.url }}">{{ obj.meta['title'] }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p>
            <h1><a href="{{ cur.url }}" alt="{{ cur.meta['title'] }}">{{ cur.meta['title']}}</a></h1>
            {{ cur.markup|more }}
        </div>

        {% endif %}

    {% endfor %}
{% endblock %}
