{% extends "_base.html" %}

{% block title %}
    {{ obj.title }}
{% endblock %}

{% block content %}
    <p class="meta">posted on {{ obj.date.strftime("%B %d, %Y") }} {% if obj.tags %}in {% for tag in obj.tags %}<a href="{{ site.tags[tag|lower].url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p>
    <h1>{{ obj.title }}</h1>
    {{ obj.content }}

    <div class="subbox">
        <p>I would love to talk to you about this post, your ideas or awesome projects.</p> 
        <p>I am <a href="http://www.twitter.com/fallenhitokiri/">@fallenhitokiri</a> on Twitter and 
            <a href="https://github.com/fallenhitokiri/">GitHub</a> or 
            you can send me a <a href="mailto:timo (at) screamingatmyscreen (dot) com">mail</a>.</p>
    </div>
{% endblock %}
